{#
SPDX-FileCopyrightText: 2023 Johan Swetzén

SPDX-License-Identifier: AGPL-3.0-or-later
#}

listen_address: 0.0.0.0:29331
appservices:
{% for appservice in matrix_mautrix_wsproxy_appservices %}
  - id: {{ appservice.id }}
    as: {{ appservice.as_token | to_json }}
    hs: {{ appservice.hs_token | to_json }}
{% endfor %}
sync_proxy:
  # The URL that mautrix-wsproxy can use to reach mautrix-syncproxy
  url: {{ matrix_mautrix_wsproxy_syncproxy_appservice_address | to_json }}
  # The URL that mautrix-syncproxy can use to reach mautrix-wsproxy
  wsproxy_url: {{ matrix_mautrix_wsproxy_appservice_address | to_json }}
  shared_secret: {{ matrix_mautrix_wsproxy_syncproxy_shared_secret | to_json }}
